table{
  margin-bottom: 20px;
}

.rowTitle {
  margin-top: 2000px;
  margin-bottom: 20px;
}

h1 {
  color: purple;
}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 5px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}
